Source: etctree
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all (>= 3.5), debhelper (>= 9),
  python3-pytest-cov,
  python3-aio-etcd,
  python3-gi,
  python3-pytest-asyncio,
Standards-Version: 3.9.1
X-Python3-Version: >= 3.5

Package: python3-etctree
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Description: Dynamic state information
 etcTree is a dynamic, object-oriented view of an etcd (sub)tree
 with bi-directional updates.
