Source: etctree
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9),
  python3-pytest-cov,
  python3-aioetcd,
Standards-Version: 3.9.1

Package: python3-etctree
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Dynamic state information
 etcTree is a dynamic, object-oriented view of an etcd (sub)tree
 with bi-directional updates.
